body{
    margin: 0px;
}

h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: red;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

li{
    float: left;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
    text-align: center;
}

.navbar a.active{
    background-color: rgb(51, 255, 10);
    color: white;
}
.navbar a:hover:not(.active){
    background-color: #555;
    color: black;
}

