*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    background-color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.myName{
    color: #000000;
}

.navLinks{
    list-style: none;
}

.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}
.navLinks li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.navLinks li:first-child a {
    
    color: #20cf43;
}



.navLinks li a:hover{
    color: #20cf43;
}





.animation{
    width: 60px;
    height: 10px;
    border-radius:8px;
    background-color: rgb(182, 178, 178);
    position: relative;
    animation-name: example;
    animation-duration: 6s;
    animation-delay: 1s;
}











